<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PID</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
</head>
<body>
    <div style="width: 800px;">
        <canvas id="myChart-uar"></canvas>
        <hr />
        <canvas id="myChart-pid"></canvas>
        <hr />
        <canvas id="myChart-fpid"></canvas>
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
const data = {
    labels: [],
    datasets: [
        {
            label: 'Natężenie dopływu',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [],
        },
        {
            label: 'Wysokość w zbiorniku',
            backgroundColor: 'rgb(128, 255, 128)',
            borderColor: 'rgb(128, 255, 128)',
            data: []
        }
    ]
};

const defConfig = (type) => ({
    type: 'line',
    data: data,
    options: {
        pointRadius: 0,
        pointHitRadius: 0,
        pointBorderWidth: 0,
        tension: 0.3,
        fill: false,
        scales: {
            xAxes: [{
                ticks: {
                reverse: false,
                stepSize: 100
                },
            }]
        },
        plugins: {
            title: {
                display: true,
                text: type.toUpperCase()
            }
        }
    }
});


const types = ['uar', 'pid', 'fpid'];
const charts = {};


function updateData(type) {
    $.ajax({
        url: `/uar`,
    }).done(function(data) {
        charts[type].data.labels = data.n_axis;
        charts[type].data.datasets[0].data = data.Qd_axis;
        charts[type].data.datasets[1].data = data.h_axis;
        charts[type].update();
    });
}

$(() => {
    for(const type of types) {
        charts[type] = new Chart(
            document.getElementById(`myChart-${type}`),
            defConfig(type)
        );
        updateData(type);
    }
});

    </script>
</body>
</html>
